@import "tailwindcss";

@theme {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: "Inter", sans-serif;
  --font-heading: "Manrope", sans-serif;
  --font-league-gothic: "League_Gothic" 'sans-serif';

  --color-gold: #ffcc33;
  --color-maroon: #7a0019;
  --color-gray-dark: #828282;
  --color-gray-mid: #D9D9D9;
  --color-silver: #e6e3df;
}

@utilities {
  .text-maroon {
    color: var(--color-maroon);
  }

  .bg-maroon {
    background-color: var(--color-maroon);
  }

  .border-maroon {
    border-color: var(--color-maroon);
  }

  .bg-gold {
    background-color: var(--color-gold);
  }

  .text-gold {
    color: var(--color-gold);
  }

  .border-gold {
    border-color: var(--color-gold);
  }

  .text-silver {
    color: var(--color-silver);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
